{% extends "base.html" %}

{% block content %}

<div class ="span12">
<div class="row">


<div class ="span8">

		<div class ="span8"> {# container for thesis and button #}
	

			<div class="span5"> {# thesis only #}
				<h3> {{ article.thesis }}</h3>
			</div>		{# end thesis #}


			<div class="span1"> {# button only #}
				</br>
				<a class="btn-large btn-primary" href="/edit/{{ articleid }} "> Edit </a>
			</div> {# end button #}
		


			<div class ="span6">
			
			<hr>

			{{ data|linebreaks }}
			
			</div> {# span 7 #}


		</div> {# end span 8 #}


</div> {# end span8 #}


<div class="span4"> {# prop column #}
{# <div class="row"> #}
	
	<h3>[Insert Sharing options.  Top bar?]</h3>

</br>

	Director of the idea is <b>{{ article.director }}</b>.</br>
	Microconstitution has a threshold of <b>{{ article.majority }}%</b>.

</br>
</br>
	

	{% if prop_data %}

	{% for prop_data in prop_data %}

	<b>{{ prop_data.percentage_for }}%</b> for the prop by <b>{{ prop_data.author }}</b> with <b>[*] hours </b> to vote.

	{% autoescape off %}
	<p>
	{{ prop_data.long_diff }}

	{% endautoescape %}
	</br><a href = /prop/{{ prop_data.id }}>(See more)</a>
	<p>

	{% endfor %}

	{% else %}
	<p>No propositions are available for this article.</p>
	{% endif %}



</div>
{# </div> #}

</div>
</div>  {# end span 12 #}



{% endblock %}