{% extends "base.html" %}

{% block content %}


<div class ="row">


	<div class ="span8">

		<div class ="row">

			<div class="span7"> {# thesis only #}
			</br>
				<h4> {{ article.thesis }}</h4>
			</div>		{# end thesis #}


		</div>

		<div class ="row">	

			<div class ="span7">
			
			<hr>

			{{ data.articlecontent|linebreaks }}
			
			</div> {# span 7 #}


		</div> 
	
	</div>


	<div class="span4"> {# prop column #}


		<h4>[Insert Sharing options.  Top bar?]</h4>

		<a class="btn btn-primary" href="/edit/{{ articleid }} "> Make Prop</a>
		<a class="btn btn-primary" href="/edit/{{ articleid }} "> Follow Article</a>
		</br>
		</br>
		<b>Framework</b></br>
		<b>{{ article.director|capfirst }}</b> is the director of this article.</br>
		Props need <b>{{ article.majority }}%</b> approval over <b>{{ article.prop_hours }}</b> hours.</br>

		</br>
		<b>Article Statistics</b></br>
		This article has [*] members and [*] followers.</br>
		[*] props were accepted to build this article.</br>
		There are [*] props outstanding right now.</br>
		The prop acceptance rate is [x]%.</br>

		</br>

		<b>Latest Props Accepted</b>
		</br>


		{% if prop_data %}

		{% for prop_data in prop_data %}

		<b>{{ prop_data.percentage_for }}%</b> for the prop by <b>{{ prop_data.author }}</b> with <b>[*] hours </b> to vote.

		{% autoescape off %}
		<p>
		{{ prop_data.long_diff }}

		{% endautoescape %}
		</br><a href = /prop/{{ prop_data.id }}>(See more)</a>
		<p>

		{% endfor %}

		{% else %}
		No proposition has been accepted by this article's members.  You should propose one!
		{% endif %}

		</br>
		</br>

		<b>The latest Prop Created</b>
		</br>
		[Insert here]
		</br>
		</br>

		<b>Article Version History / Evolution</b>
		</br>
		</br>

	</div>

</div>
{% endblock %}