<!DOCTYPE html>
{% load bootstrap_toolkit %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SUPERPLEB</title>
    <meta name="description" content="">
    <meta name="author" content="Dylan Verheul">
    {% bootstrap_stylesheet_tag %}
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    {% bootstrap_javascript_tag "dropdown" %}
    {% block extra_head %}{% endblock %}

<style type="text/css">
#more {font-size:.8em;}
</style>

</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <a href="/home/" class="brand" style="color:#FFC5CE">SUPER<font color="#C5FFC4">PLEB</font></a>
            <ul class="nav pull-right">
                <li>
                  {% if user.is_authenticated %}
  			       <h3><a href="/accounts/profile/" class="brand">{{ user.username }}</a></h3>
			     {% else %}
                 <a href = /accounts/login/ class="brand"><b>LOGIN</b></a>
			     {% endif %}
                </li>
            </ul>

            <form class="navbar-search pull-left">
            <input type="text" class="search-query" placeholder="Search Superpleb...">
            </form>
            <div class="span1"></div>
            <a class="btn btn-primary pull-right" href="/micro_constitution/"<a>Create Article</a>
            
        </div>
    </div>
</div>




<div class="container">

{% block content %}Empty page{% endblock %}    


</div> <!-- container -->

</body>
</html>