<!DOCTYPE html>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
    <title>{% block title %}Superpleb{% endblock %}</title>
</head>

<div style="width=100%; position: relative; background-color:#EEEEEE; height:30px; margin:0px; vertical-align:top; padding:0px; border:0px">
<b>SUPERPLEB</b>

</div>

<body>
    {% block content %}{% endblock %}
    

</br>
</br>
    {% block footer %}
	<div style="width=100;background-color:#EEEEEE">
	SUPERPLEB FOOTER    
    {% endblock %}
</body>
</html>