{% extends "base.html" %}

{% block content %}

<div class="span12"> {# thesis, button and props #}
<div class="row">

	<div class ="span8"> {# container for thesis and button #}
	<div class="row">

		<div class ="span7"> {# container for thesis and button #}
		<div class="row">

			<div class="span6"> {# thesis only #}
				<h3> {{ thesis }}</h3>
			</div>		{# end thesis #}


			<div class="span1"> {# button only #}
				</br>
				<a class="btn" href=""> Preview </a>
			</div> {# end button #}

		</div>
		<hr>
		</div>

	</div> {# end thesis, button#}

	</div>

	<div class ="span8"> {# start article content #}
	<div class="row">

		<div class ="span7">



			{% if form.errors %}
					<p style="color: red;">
						Please correct the error{{ form.errors|pluralize }} below.
					</p>
				{% endif %}

				<form action="" method="post"> {% csrf_token %}
					<table>
						{{ form.as_table }}
					</table>
					</br>
					<input type="submit" value="Submit" class="btn-large btn-primary">
				</form>

		</div>

	</div> {# end article content #}
	</div>

	<div class="span4"> {# prop column #}

		{# Not sure what to put here. #}

	</div>

</div>
</div>


{% endblock %}