<!DOCTYPE html>
{% load bootstrap_toolkit %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SUPERPLEB</title>
    <meta name="description" content="">
    <meta name="author" content="Dylan Verheul">
    {% bootstrap_stylesheet_tag %}
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    {% bootstrap_javascript_tag "dropdown" %}
    {% block extra_head %}{% endblock %}

<style type="text/css">
#more {font-size:.8em;}
</style>


  <link type="text/css" href="{{ STATIC_URL }}/src/style.css" rel="stylesheet" />    
  <link type="text/css" href="{{ STATIC_URL }}/src/highlight.css" rel="stylesheet" />
  <link type="text/css" href="{{ STATIC_URL }}jquery.highlighttextarea.css" rel="stylesheet" />
  <link type="text/css" href="{{ STATIC_URL }}jquery/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet" />  
  <script type="text/javascript" src="{{ STATIC_URL }}/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}/jquery/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}/jquery.highlighttextarea.js"></script>

  <script type="text/javascript">
  $(document).ready(function() {
      $("#demo1").highlightTextarea({
          words: {% autoescape off %}{{ outstanding_changes }}{% endautoescape %},
          color: "#ADF0FF"
      });
  });
  </script>
  
  <style type="text/css">
  #demo5-wrap .highlight {
      padding:0 3px;
      margin:0 -3px;
      border-radius:0.5em;
  }
  </style>



</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <a href="/home/" class="brand" style="color:#FFC5CE">SUPER<font color="#C5FFC4">PLEB</font></a>
                  
            
            <form class="navbar-search pull-left">
            <input type="text" class="search-query" placeholder="Search Superpleb...">
            </form>
            <div class="span1"></div>
            



            <a class="btn btn-primary" href="/micro_constitution/"<a>Create Article</a>

            <ul class="nav pull-right">
            {% if user.is_authenticated %}
                   <a href="/accounts/profile/">{{ user.username }}</a>
                 {% else %}
                 <a href = /accounts/login/><b>LOGIN</b></a>
                 {% endif %}
            </ul>




            
        </div>
    </div>
</div>




<div class="container">

<div class="span12"> {# thesis, button and props #}
<div class="row">
	
	<div class ="span8"> {# container for thesis and button #}
	<div class="row">
	
		<div class ="span7"> {# container for thesis and button #}
		<div class="row">

			<div class="span6"> {# thesis only #}
				<h3> {{ thesis }}</h3>
			</div>		{# end thesis #}


			<div class="span1"> {# button only #}
				</br>
				<a class="btn" href=""> Preview </a>
			</div> {# end button #}

		</div>
		<hr>
		</div>

	</div> {# end thesis, button#}
	
	</div>

	<div class ="span8"> {# start article content #}
	<div class="row">

		<div class ="span7">
		
			<img src="{{ STATIC_URL }}hdr_logo.gif">

      {{ outstanding_changes }}

			<textarea id="demo1" cols="50" rows="5">Here is article content for me to setup a conflict with.  This needs to be delicately done.

Here is article content.  And I am not sure how this will work.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at massa non erat convallis vulputate molestie nec dui. Donec auctor blandit nibh quis luctus. Donec tincidunt auctor consequat.</textarea>

			{% if form.errors %}
					<p style="color: red;">
						Please correct the error{{ form.errors|pluralize }} below.
					</p>
				{% endif %}
				
				<form action="" method="post"> {% csrf_token %}
					<table>
						{{ form.as_table }}
					</table>
					</br>
					<input type="submit" value="Submit" class="btn-large btn-primary">
				</form>

		</div>

	</div> {# end article content #}
	</div>

	<div class="span4"> {# prop column #}
		
		{# Not sure what to put here. #}
	
	</div>

</div>
</div>


 


</div> <!-- container -->

</body>
</html>

















