{% extends "base.html" %}

{% block content %}

<div class="span12"> {# Full row #}
<div class="row">

			<div class="span6">
				<h3>Feed</h3>
				<hr>
					
							{% if props and articles %}
					    	
					    	{% for props in props %}

					    	{% for articles in articles %}
								
								{% if props.microcons_id = articles.id  %}
								<p><b><a href="/articles/{{ articles.id }}"> {{ articles.thesis }}</a></b></p>
								
								{% endif %}

							{% endfor %}

					        {% autoescape off %}
					        {{ props.long_diff }}
					        {% endautoescape %}
					        <hr>
							{% endfor %}

							{% else %}
					    	<p>You don't have any props yet, you're not subscribed to a constitution.  Get cracking!</p>
							{% endif %}
					
			</div>

</div>
</div>


{% endblock %}