{% extends "base.html" %}

{% block content %}

<div class="span12"> {# Full row #}
<div class="row">

			<div class="span8">
				<h3>Feed</h3>
				<hr>
					
							{% if props and articles %}
					    	
					    	{% for props in props %}

					    		{% for articles in articles %}
								
									{% if props.microcons_id = articles.id  %}
									<p><b><a href="/articles/{{ articles.id }}"> {{ articles.thesis }}</a></b></p>
									{% endif %}

								{% endfor %}

							<class id="more"><table class="table table-bordered">
						        <thead>
						          <tr>
						            <th><a href="">{{ props.author }}</a> created a <a href="/prop/{{ props.id }}">prop</a></th>
						            <th>Total Votes: [*]</th>
						            <th>{{ props.pass_status }}: {{ props.percentage_for }}% / {{ props.threshold }}%</th>
						            <th>[21 hours left]</th>
						          </tr>
						        </thead>
					      	</table></class>


					        {% autoescape off %}
					        {{ props.long_diff }}
					        {% endautoescape %}

					        <b><a href="/props/{{ props.id }}"><span>   </span><class id="more">(Prop)</class></a></b>

					        <hr>
							{% endfor %}

							{% else %}
					    	<p>You don't have any props yet, you're not subscribed to a constitution.  Get cracking!</p>
							{% endif %}
					
			</div>

</div>
</div>


{% endblock %}

Prop by user1