{% extends "base.html" %}

{% block content %}




	</br>
	<div class="row">
	<div class="span10">
		
		<ul class="nav nav-tabs">
		  <li><a href="/home/"><b>Your Activity</b></a></li>
		  <li class="active"><a href="/hot/"><b>Hot Articles</b></a></li>
		  <li><a href="/latest/"><b>Newest Articles</b></a></li>
		</ul>
		
	

		</br>
		
		</br>
		
		{% for articles in articles %}
		
		<b><a href="/articles/{{ articles.id }}/">{{ articles.thesis }}</a></b>
        <br>
        </br>
        
        
            <class id="more">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th><a href="">{{ articles.director|capfirst }}</a> as Director</th>
                    <th>{{ articles.num_props }} outstanding props</th>
                    <th>[*] Members</th>
                    <th>[*] versions</th>
                  </tr>
                </thead>
            </table>
            </class>

            {% for content in content  %}

            	{% if articles.id = content.cons_id %}

	            {{ content.articlecontent }}

	            {% else %}

    	        {% endif %}

            {% endfor %}

        </br>
    </br>
		
		{% endfor %}

    </div>
	</div>





{% endblock %}