{% extends "base.html" %}

{% block content %}

<div class="span12"> {# Full row #}
<div class="row">

	</br>
	<div class="span10">
		
		<ul class="nav nav-tabs">
		  <li><a href="/home/"><b>Your Activity</b></a></li>
		  <li class="active"><a href="/hot/"><b>Hottest Articles</b></a></li>
		  <li><a href="/latest/"><b>Newest Articles</b></a></li>
		</ul>
		
	

		</br>
		
		</br>

		

		
		{% for articles in articles %}
		Thesis:{{ articles.thesis }} 
	</br>
		Number of articles: {{ articles.num_props }}
		</br>
		</br>
		{% endfor %}

    </div>
		   

</div>
</div>




{% endblock %}