{% extends "base.html" %}

{% block title %}Welcome to Superpleb!{% endblock %}

{% block content %}
		<h3>Welcome to SuperPleb!</h3>
		</br>
		<a href = /micro_constitution/>Create a <b>new article</b> by filling in the constitution!</a>
		</br>
		</br>
		<a href = /latest/>See what the <b>latest articles</b> are!</a>
		</br>
		</br>
		<a href = /latestprops/>See what the <b>latest props</b> are!</a>
		</br>
		</br>
		<a href = /admin/>Go to the <b>admin</b> section.</a>
		</br>
		</br>
		<a href = /register/><b>Register</b> a new user.</a>
		</br>
		</br>
		<a href = /accounts/profile/><b>Who's Logged in?</b></a>
		</br>
		</br>
		<a href = /accounts/login/><b>LOGIN</b></a>
{% endblock %}