{% extends "base.html" %}

{% block content %}

<div class="span12"> {# Full row #}
<div class="row">

    </br>

    <div class="span10">
        
        <ul class="nav nav-tabs">
          <li><a href="/home/"><b>Your Activity</b></a></li>
          <li><a href="/hot/"><b>Hot Articles</b></a></li>
          <li class="active"><a href="/latest/"><b>Newest Articles</b></a></li>
        </ul>    
        
        </br>
        [Make decisions about what information exactly is required.]</br>
        </br>


        {% if article %}


        {% for article in article %}     
        
        <b><a href="/articles/{{ article.id }}/">{{ article.thesis }}</a></b>
        <br>
        </br>
        
        


            <class id="more">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th><a href="">{{ article.director|capfirst }}</a> as Director</th>
                    <th>[*] outstanding props</th>
                    <th>[*] Members</th>
                    <th>[*] versions</th>
                  </tr>
                </thead>
            </table>
            </class>

                {% for content in content %}
                
                    {% if content.cons_id = article.id  %}
                    
                    {{ content.articlecontent|linebreaks|truncatewords:60 }}

                    {% endif %}

                {% endfor %}

            <b><a href="/prop/{{ props.id }}"><span>   </span><class id="more">(Article)</class></a></b>
            <hr>

            {% endfor %}

        {% else %}

        <p>You don't have any props yet, you're not subscribed to a constitution.  Get cracking!</p>
            
        {% endif %}        
        
    </div>

</div>
</div>

{% endblock %}
