{% extends "base.html" %}

{% block content %}

<h3>Latest Props</h3>
</br>
Here is a list of the latest props:
</br>
</br>

<table class="table table-striped table-bordered"> 
	<tbody>
		{% if prop %}
    	{% for prop in prop %}
		<tr>
		<td>
			Prop created by <b>{{ prop.author }}</b>
			</br>
			Pass/Fail: <b>{{ prop.pass_status }}</b>
			</br>
			Status: <b>{{ prop.currency }}</b>
			</br>
			{# Time Remaining: <b>{{ time_left }}</b> #}
			</br>
			</br>
			{% autoescape off %}
    		{{ prop }}
			{% endautoescape %}
			</br>
			</br>
		</td>
		<td>
			<a href="/prop/{{ prop.id }}/">Go to Prop</a>
		</td>
		</tr>
    		{% endfor %}
			{% else %}
    		<p>No props are available.  Get cracking!</p>
			{% endif %}
	</tbody>
</table>

{% endblock %}