{% extends "base.html" %}

{% block content %}

<h2>Your Proposition is Active!</h2>

</br>
</br>
Thanks for your proposition!  Now to see whether the members accept it or not...

</br>
</br>

In accordance with the micro-constitution for this idea, your proposition will expire in {{ hours_number }} hours, and it will need an approval of {{ micro_cons }}% to get added to the idea.

</br>
</br>
Here's your proposition in full:
</br>
</br>

<div class="12 hero-unit">

{% autoescape off %}
{{ diff }}
{% endautoescape %}

</div>

{% endblock %}

